{% load static %}
{% load i18n %}
<!doctype html>
<html lang="{{request.settings_params.lang}}" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{request.settings_params.meta_description}}">
    <meta name="author" content="{{request.settings_params.meta_author}}">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <!-- <link href="sticky-footer.css" rel="stylesheet"> -->
  </head>
  <body class="d-flex flex-column h-100">

  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">RepTool</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">{% trans "Home" %} <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">{% trans "About" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">{% trans "Admin" %}</a>
          </li>
{#          <li class="nav-item">#}
{#            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
{#          </li>#}
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="{% trans 'Search' %}" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% trans "Search" %}</button>
        </form>
      </div>
    </nav>
  </header>

  <!-- Begin page content -->
  <main role="main" class="flex-shrink-0">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main>

<footer class="footer mt-auto py-3" id="footer">
  <div class="container">
    <span class="text-muted">
      <a href="{% url 'about' %}" class="footer_link">{% trans "About" %}</a>
    </span>
  </div>
</footer>
</body>
</html>
