{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Interation" %}{% endblock %}
{% block content %}
  <h1 class="mt-5">
    {% trans "Interation" %}
    <a href="{% url 'iteration_export' iteration.pk %}" title="{% trans 'Export' %}">{{ iteration }}</a>
    <a href="{% url 'iteration_export_planned' iteration.pk %}" title="{% trans 'Planned export' %}"
       class="btn btn-secondary">{% trans "export" %}</a>
  </h1>
  {% if iteration.is_last %}
    <div>
      <form class="form-inline"
            action="{% url 'iteration_create' iteration.pk %}"
            method="post"
            id="iteration_create">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary mb-2">{% trans "Create Next" %}</button>
        &nbsp;&nbsp;&nbsp;{{ workers|join:", " }}
      </form>
    </div>
  {% endif %}

  <div>
    <form
        action="{% url 'iteration_update' iteration.pk %}"
        method="post"
        id="iteration_update">
      {% csrf_token %}
      {{ iteration.form.comment }}
    </form>
  </div>

  <hr>
  {% for worker, reports in worker_reports %}
    <h3>
      <span id="worker_{{ worker.id }}">
        {% if worker.has_dashboard %}
          <a href="{{ worker.dashboard }}" title="{% trans "got to dashboard" %}" target="_blank">{{ worker }}</a>
        {% else %}
          {{ worker }}
        {% endif %}
      </span>
    </h3>
    <table class="table">
      <tbody>
      {% for report in reports %}
        <tr class="bg-{% if report.is_done %}success{% elif report.is_in_progress %}info{% else %}warning{% endif %}">
          <td class="task">
            <a href="{{ report.task.url }}" title="{{ report.task.number }}" target="_blank">
              {{ report.task.number }}
            </a>
          </td>
          <td>
            <span title="{{ report.task.title }}">{{ report.task.title|truncatechars:80 }}</span>
          </td>
          <td>
            <form class="form-inline"
                  action="{% url 'report_update' report.pk %}"
                  method="post"
                  id="report_{{ report.pk }}">
              {% csrf_token %}
              {{ report.form.comment }}
              {{ report.form.delegation }}
              {{ report.form.status }}
              {{ report.form.worker }}
              <button type="submit" class="btn btn-dark mb-2">{% trans "Update" %}</button>
            </form>
          </td>
          <td>
            <form class="form-inline"
                  action="{% url 'report_delete' report.pk %}"
                  method="post"
                  id="report_del_{{ report.pk }}"
                  onsubmit="return confirm('Are you sure you want to delete report {{ report.task.number }}?');">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger mb-2">{% trans "Delete" %}</button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <form class="form-inline"
          action="{% url 'report_create' iteration.pk worker.pk %}"
          method="post"
          id="report_create">
      {% csrf_token %}
      {{ worker.form.number }}
      {{ worker.form.title }}
      {{ worker.form.delegation }}
      {{ worker.form.status }}
      {{ worker.form.comment }}
      <button type="submit" class="btn btn-primary mb-2">{% trans "Add" %}</button>
    </form>
  {% endfor %}
{% endblock %}
